
<div class="container">
    <h1>To Do List</h1>
    <div class="col-xs-6">
        <h3 ng-if="$ctrl.list.length ===0" class="text-muted">No list items to display </h3>  <!--ng-if only works if statement is true. We check if length of list is 0-->
    <list-details ng-repeat="item in $ctrl.list" list-item="item" on-delete="$ctrl.delete(listItemObj)"></list-details>    <!--repeat list component for however many times in our array. Item is created from ng-repeat-->
    </div>

    <div class="col-xs-6">
        <add-form on-add="$ctrl.add(todoListItem)"></add-form>
    </div>
</div>
